<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>wcmm</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link href='//fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
  </head>

  <body>
  <div id="wrap">
    <div class="navbar navbar-inverse navbar-static-top py-0" style='background:DarkSlateGray' role="navigation">
      <div class="navbar-header py-0">
        <a class="navbar-brand py-0" style="color:white;" href="/wcm/"><strong>Wilderness Character Monitoring Measures</strong></a>
      </div>
    </div>
    <div class="container-fluid">
      <div class="page-content" style="">
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <h4>{{ wilderness }}</h4>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
            <div class=''>
              <h6>Something</h6>
            </div>
            <div class=''>
            </div>
          </div>
          <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
            <div class=''>
              <h6>Also</h6>
            </div>
            <div class=''>
            </div>
            <div class=''>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
